---
import countries from "world-countries";

interface CountryOption {
  iso: string;
  dialCode: string;
  name: string;
}

const countryCodes: CountryOption[] = countries
  .filter((c) => c.idd.root)
  .map((c) => ({
    iso: c.cca2,
    dialCode: `${c.idd.root}${c.idd.suffixes?.[0] ?? ""}`,
    name: c.translations?.eng?.common ?? c.name.common,
  }))
  .sort((a, b) => a.name.localeCompare(b.name, "en"));
---

<select name="lada" id="lada" class="appearance-none bg-[url(/assets/icons/chevron.svg)] bg-no-repeat bg-position-[center_right_1rem]">
  {
    countryCodes.map((country) => (
      <option
        value={country.iso}
        data-dial-code={country.dialCode}
        class="text-[f6f6f6]"
        selected={country.iso === "MX"}
      >
        {country.dialCode} {country.name}
      </option>
    ))
  }
</select>
