---
import Layout from "@/layout/layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import AboutCarrousel from "@/components/react/about-carrousel/about-carrousel";
import ImageDroplist from "@/components/droplist-with-image/image-droplist.astro";
import { TeamSlider } from "@/components/react/team-slider/team-slider";
import WhyNotalias from "@/views/about/why-notalias.astro";
const lang = getLangFromUrl(Astro.url);
const ui = useTranslations(lang);
---

<Layout lang={lang}>
  <section class="pt-4 pb-24 bg-[#F6F6F6]">
    <article class="text-center">
      <h1 class="font-arvo text-3xl w-56 mx-auto leading-tight">
        {ui.about_page.hero.title}
      </h1>
      <img
        src="/assets/img/about/head-brain.gif"
        class="h-25 mx-auto mt-16 mb-12"
        alt="about"
      />
      <div class="font-light text-sm leading-tight">
        <p class="w-38 mx-auto">{ui.about_page.hero.description[0]}</p>
        <p class="w-42 mx-auto">{ui.about_page.hero.description[1]}</p>
      </div>
    </article>
  </section>

  <section>
    <AboutCarrousel client:visible slides={ui.about_page.slide.slides} />
  </section>

  <section class="text-center py-8 bg-[#F6F6F6]">
    <h1 class="font-arvo text-3xl w-56 mx-auto leading-tight">
      {ui.about_page.how_work.title}
    </h1>
  </section>

  <section>
    <ImageDroplist />
  </section>

  <TeamSlider
    client:visible
    title={ui.about_page.team.title}
    slides={ui.about_page.team.slides}
  />

  <WhyNotalias />

  <section class="bg-[#F6F6F6] flex flex-col justify-center items-center p-20">
    <img src="/assets/icons/work-together.svg" alt="Spiral" />
    <h1 class="text-3xl font-arvo text-center w-60 mt-5 mb-6">
      {ui.about_page.work_together.title}
    </h1>
    <a class="text-sm underline underline-offset-6 uppercase"
      >{ui.about_page.work_together.contact_us}</a
    >
  </section>
</Layout>
