---
import Layout from "@/layout/layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import FormField from "@/components/form/form-field.astro";
import ContactDirectly from "@/views/about/contact-directly.astro";
import FormSended from "@/components/form/form-sended.astro";
import PhoneLadaSelector from "@/components/form/phone-lada-selector.astro";

const lang = getLangFromUrl(Astro.url);
const ui = useTranslations(lang);
---

<Layout lang={lang}>
  <section class="flex flex-col items-center justify-center pb-18 bg-[#F6F6F6]">
    <h1 class="text-3xl font-arvo text-center w-96">{ui.contact_page.title}</h1>
    <p class="text-sm text-center mt-3">{ui.contact_page.description}</p>
    <div class="relative size-24">
      <img src="/assets/icons/bactery.svg" class="absolute -left-34.5 top-3" />
      <img src="/assets/icons/ovni.svg" class="absolute top-7.5" />
      <img src="/assets/icons/planet.svg" class="absolute -right-32 -top-9" />
    </div>
  </section>

  <section class="bg-[#F6F6F6]">
    <form class="max-w-96 mx-auto space-y-5" id="contact-form">
      <FormField name="name" label={ui.contact_page.form.name_field.label}>
        <input
          type="text"
          id="name"
          name="name"
          placeholder={ui.contact_page.form.name_field.placeholder}
          required
        />
      </FormField>

      <FormField name="phone" label={ui.contact_page.form.phone_field.label}>
        <div class="grid grid-cols-2 gap-4">
          <PhoneLadaSelector />
          <input
            type="number"
            id="phone"
            name="phone"
            placeholder={ui.contact_page.form.phone_field.placeholder}
            required
          />
        </div>
      </FormField>

      <FormField name="email" label={ui.contact_page.form.email_field.label}>
        <input
          type="email"
          id="email"
          name="email"
          placeholder={ui.contact_page.form.email_field.placeholder}
          required
        />
      </FormField>
      <FormField
        name="business"
        label={ui.contact_page.form.business_field.label}
      >
        <input
          type="text"
          id="business"
          name="business"
          placeholder={ui.contact_page.form.business_field.placeholder}
          required
        />
      </FormField>
      <FormField
        name="message"
        label={ui.contact_page.form.description_field.label}
      >
        <textarea
          id="message"
          class="resize-none"
          name="message"
          placeholder={ui.contact_page.form.description_field.placeholder}
          rows={4}
          required></textarea>
      </FormField>
      <button
        type="submit"
        class="text-white uppercase px-7.5 py-1 rounded-2xl bg-primary hover:opacity-95 cursor-pointer"
      >
        {ui.contact_page.form.button}
      </button>
    </form>
  </section>

  <section class="bg-[#F6F6F6] pt-16 pb-14">
    <h1 class="text-3xl font-arvo text-center">
      {ui.contact_page.contact_data.title}
    </h1>
    <ContactDirectly contact_items={ui.contact_page.contact_data.items} />
  </section>

  <FormSended />
</Layout>

<script>
  const form = document.querySelector("#contact-form") as HTMLFormElement;

  const nameInput = document.querySelector("#name") as HTMLInputElement;
  const ladaInput = document.querySelector("#lada") as HTMLSelectElement;
  const phoneInput = document.querySelector("#phone") as HTMLInputElement;
  const emailInput = document.querySelector("#email") as HTMLInputElement;
  const businessInput = document.querySelector("#business") as HTMLInputElement;
  const messageInput = document.querySelector(
    "#message",
  ) as HTMLTextAreaElement;

  const overlay = document.querySelector("#form-overlay") as HTMLDivElement;
  const closeBtn = document.querySelector("#close-modal") as HTMLButtonElement;

  const validateForm = () => {
    if (
      !nameInput.value ||
      !emailInput.value ||
      !messageInput.value ||
      !phoneInput.value
    ) {
      return false;
    }
    return true;
  };

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    if (validateForm()) {
      const formData = {
        name: nameInput.value,
        phone:
          ladaInput.options[ladaInput.selectedIndex].dataset.dialCode +
          phoneInput.value,
        email: emailInput.value,
        business: businessInput.value,
        message: messageInput.value,
      };

      console.log(formData);

      overlay.style.display = "block";
    }
  });

  const closeModal = () => {
    overlay.style.display = "none";
  };

  closeBtn.addEventListener("click", closeModal);
</script>
