---
import Layout from "@/layout/layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Droplist from "@/components/droplist/droplist.astro";
const lang = getLangFromUrl(Astro.url);
const ui = useTranslations(lang);
---

<Layout lang={lang}>
  <section class="mt-2">
    <div class="p-4 h-108.5 max-w-[363px] relative mx-auto overflow-hidden">
      <video
        class="rounded-lg h-full object-cover object-[-200px] absolute left-0 top-0"
        src="/assets/videos/services.mp4"
        autoplay
        muted
        loop
        playsinline></video>
    </div>
  </section>

  <section class="pt-18 pb-20">
    <h1 class="font-arvo text-3xl text-center w-80 mx-auto leading-tight">
      {ui.services_page.title}
    </h1>
    <img src="/assets/icons/jellyfish.svg" alt="Medusa" class="mx-auto my-9" />
    <p class="text-center w-[209px] mx-auto font-light leading-tight">
      {ui.services_page.description}
    </p>
  </section>

  <section class="bg-[#F6F6F6] py-14">
    <h1 class="font-arvo text-3xl text-center">
      {ui.services_page.our_services.title}
    </h1>
    <p class="text-[10px] text-center w-72 mx-auto leading-tight mt-4">
      {ui.services_page.our_services.description}
    </p>
  </section>

  <Droplist />

  <section
    class="bg-black flex flex-col justify-center items-center p-14"
  >
    <img src="/assets/icons/espiral.svg" alt="Spiral" />
    <h1 class="text-3xl font-arvo text-white text-center w-80 mt-5 mb-6">
      {ui.services_page.contact.title}
    </h1>
    <a class="text-white text-sm underline underline-offset-6 uppercase"
      >{ui.services_page.contact.contact_us}</a
    >
  </section>
</Layout>
