---
import Paginator from "@/components/paginator/paginator.astro";
import ProjectCard from "@/components/projects/project-card.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layout/layout.astro";
import Contact from "@/views/contact.astro";

const lang = getLangFromUrl(Astro.url);
const ui = useTranslations(lang);
---

<Layout lang={lang}>
  <h2 class="text-[#7B7B7B] text-center font-normal uppercase mb-6">
    {ui.selected_work.title}
  </h2>
  <div class="flex flex-col gap-12">
    {
      ui.selected_work.projects.map((project) => (
        <ProjectCard
          name={project.name}
          description={project.description}
          url={project.url}
          videoPath={project.video_path}
          button={ui.selected_work.project_button}
        />
      ))
    }
  </div>
  <Paginator pages={[1, 2, 3, 4]} />
  <Contact />
</Layout>
