---
interface Props {
  title: string;
  description: string;
  image: string;
  url: string;
  openLabel: string;
}

const { title, description, image, url, openLabel } = Astro.props as Props;
---

<div class="flex flex-col w-[363px] lg:w-auto">
  <img
    src={image}
    alt={title}
    class="w-full h-111 object-cover rounded-xl lg:h-[557px]"
  />
  <article>
    <h1 class="text-xl my-3.5 lg:text-3xl">{title}</h1>
    <p class="text-sm font-light w-77 mb-6 lg:text-lg lg:w-auto lg:max-w-96">{description}</p>

    <a class="text-sm text-primary underline underline-offset-6" href={url}
      >{openLabel} ↗</a
    >
  </article>
</div>
